## Content from .ignore
local.mk
target.mk
.*.sw*
make.log
.gitignore 

## content from makestuff
up.time
commit.time
commit.default
dotdir/
clonedir/
*.hup
*.oldfile
*.olddiff
up.time
commit.time
commit.default
dotdir/
clonedir/
*.hup
*.oldfile
*.olddiff
