## Content from .ignore
.gitignore
local.mk
target.mk
.*.sw*
make.log

## content from makestuff
admin/outline.html
admin/hw.html
admin/sched.html
lectures/ggplot_ex.html
lectures/intro.html
up.time
commit.time
commit.default
dotdir/
clonedir/
pages
*.oldfile
